@charset "UTF-8";
.header {
  margin: 10px auto;
  height: 150px;
  width: 1300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E9F3FF;
  opacity: 0.8;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
}
.header .header-logo1 {
  font-size: 50px;
  color: blue;
  padding: 50px 10px 15px 15px;
  float: left;
  font-family: UD デジタル 教科書体 NP-B;
  font-weight: bold;
  height: 200px;
  width: 100px;
}
.header #menubar {
  display: none;
}
.header .header-list-2 {
  text-align: right;
  font-size: 20px;
  font-family: UD デジタル 教科書体 N-B;
  font-weight: bold;
}
.header .header-list-2 a {
  text-decoration: none;
  color: black;
}
.header .header-list-2 .header-list-1 {
  height: 80px;
}
.header .header-list-2 .header-list-1 li {
  padding: 5px 10px;
  float: right;
}
.header .header-list-2 .header-list {
  height: 80px;
}
.header .header-list-2 .header-list li {
  padding: 5px 10px;
  float: right;
}
.header .header-list-2 .header-list li:hover {
  top: -20px;
  font-size: 25px;
  color: cadetblue;
}

footer {
  width: 1380px;
  height: 400px;
  background: white url("写真/footer.png") no-repeat fixed center bottom;
  background-size: 1380px auto;
  margin: 150px auto 0px auto;
}
footer img {
  padding-right: 880px;
  border-bottom: 3px solid #92ceff;
}
footer .navf {
  font-family: "Noto Sans JP";
  font-size: 13px;
  text-align: left;
  float: left;
}
footer .navf1 {
  font-family: "Noto Sans JP";
  font-size: 13px;
  float: left;
  text-align: left;
}
footer .footer3 {
  width: 1380px;
  margin: 230px auto 10px auto;
  font-size: 12px;
}

.picture {
  margin: auto;
  width: 1380px;
}

.commu {
  height: 60px;
  width: 1380px;
  margin: auto;
}
.commu li {
  float: left;
}
.commu li .commu1 {
  margin: 100px 10px;
  width: 300px;
  height: 60px;
  border: 2px solid #044b7c;
  background: white;
}
.commu li .commu1 .icon2 {
  margin-left: -150px;
}
.commu li .commu1 .icon2 img {
  margin: 5px;
  border-radius: 200px;
}
.commu li .commu1 .iconword {
  margin-top: -50px;
  font-size: 20px;
  margin-left: 100px;
}

h1 {
  margin: 50px auto;
  width: 1380px;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: cornflowerblue;
  border-bottom: 4px dotted cornflowerblue;
}

.device {
  background: white;
  width: 1380px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 4px dotted #49bded;
}
.device .device-list {
  width: 1000px;
  margin: 100px auto 100px auto;
}
.device .device-list img {
  margin-left: 0px;
}
.device .device-title {
  -webkit-transition: 2s;
  transition: 2s;
  margin: 100px auto 100px auto;
  width: 250px;
  height: 423px;
}
.device .device-title h2 {
  font-family: "UD デジタル 教科書体 NP-B";
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.device .device-title a {
  color: blue;
  font-size: 15px;
}

li {
  list-style: none;
}

ul {
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=contentdevice.css.map */