.devicelist{
    top: 1px;
    width: 150px;
    height: 580px;
    position:sticky;
    h2{
        width:150px;
        height: 50px;
        font-size: 25px;
        text-align: left;
        color:#044b7c;
        border-bottom:2px dotted black;

    }
    ul {
        padding: 0px;
        li{
        margin: 0px;
        width:150px;
        height:50px;
        border-bottom:2px dotted black;
        text-align: left;
        h3{
            font-size: 18px;
            font-family: sans-serif;
            color: black;}
        h3:hover{
            color:darkcyan;
        }}
        }}
        
    
    
