footer{
    width:1380px;
	height: 400px;
	background: white url("写真/footer.png") no-repeat fixed center bottom;
	background-size: 1380px auto;
	margin:150px auto 0px auto;
    img{
        padding-right: 880px;
	border-bottom: 3px solid #92ceff;
    }
    .navf {
        font-family: "Noto Sans JP";
        font-size:13px;
         text-align:left;
         float: left;
    }
    .navf1{
        font-family: "Noto Sans JP";
        font-size:13px;
        float:left;
        text-align:left;
    }
    .footer3{
        width:1380px;
        margin: 230px auto 10px auto;
        font-size:12px;
    }
    }
