@media all and (max-width: 599px) {
    body{background: white  url("background.png")no-repeat fixed bottom ;
        background-size:375px;
        margin:auto;
        width:375px;
.slide-wrapper {
            height:250px;
            width:375px;
            margin: 0px auto -250px auto;
        
            .slide {
            scroll-snap-align: start;
          width: 375px;
        
            img{
            width:375px;
            height:250px;
            }
            }       
        }
.header{
            margin:auto;
            height: 75px;
            width:350px; 
          .header-logo1{
              padding:0px;
              width:375px;
              height:20px;
          img{
              margin:25px auto 25px auto;
              width:250px;
          }}
          #menubar{
            height:auto;
            width:240px;
            margin:10px;
            display:block;
            .thefirst{
            width:300px;
            img{
                width:40px;
                height:40px;}
            .thesecond{
                display:none;
                li{
                width:120px;
                height: 30px;
                line-height: 40px;
                border-bottom: 1px solid #e8e8e8;
                text-align: center;
                }
                li:hover .thethird{
                    display:block;
                    }
                ul{
                    padding:0px;
                    background:#3c5a99;
                    width: 120px}
                .thethird{
                        display: none;}
            }}
         li{
         text-align:left;
         
            a{
         text-decoration: none;
         color: white;
         font-weight: bold;
         font-size:12px;
         }}
         li:hover .thesecond{
            display:block;}
         
         ul{
         padding:auto;
         width:120px;
         background:#BBC6DA;
         padding:0px;
         }}
        
        .header-list-2{
              display:none;
          }
    }
.calen {
        .calendar{
        font-size:80%;
        width:300px;
        margin:250px auto auto auto;}
        .weekdays{
        width:300px;
        margin:auto;
        font-size:80%;
        }
        .days{
        width:300px;
        margin:auto;
        font-size:80%;
        }}
.newsinfo{
            display:block;
            margin:auto;
            width:350px;
            .news{
            margin: 20px auto;
            width:350px;
            height: 600px;
            box-sizing: border-box;
            background:white;
            .news-word{
            width:350px;
            border-bottom:2px solid #044b7c;
            padding:25px 0px;
            margin: auto;
            font-size:90%;}
            table{
                width:300px; 
                margin: 0px auto;
                tr{
                    width:300px;
                    td{
                        padding:0px;
               
                .dayofnews{
                 font-size:10px;
                border:none;
                width:50px;
                height:10px;
                padding:0px 0px 30px 0px;
                margin:0px;}
    
        
                .titleofnews{
            font-size:15px;
            margin:80px auto auto auto;}
                .contenofnews{
                 font-size:11px;
                 margin-left:20px; }
                .signofnews{
            font-size:8px;
            margin-left:50px; }}}}
            .viewmore {
        width:50px;
        height:20px;
        border: 1px solid black;
        margin:20px auto;
        border-radius:5px;
        img{
            width:50px;
            height:15px;}}
        }
        .information{
            display:none;
        }
    }
.event{
        width:375px;
        height:auto;
        .wordofevent{
        height:20px;
        font-size:15px;}
        .eventplus{
            width:375px;
            display:block;
            margin: auto;	
        .eventplus1{
            width:375px;
            height:auto;
            .eventtitle1{
                img{
                    width:250px;
                    height:350px;
                    }
                }

            .eventtitleword1{
                font-size:15px;}
            .eventtitleword2{
                font-size:12px;
                margin:0px;}
        }
        .eventplus2{
            .eventtitle2{
                img{
                    width:250px;
                    height:350px;
                    }
            }
            .eventtitleword1{
                font-size:15px;}
            width:375px;
            height:auto;
            .eventtitleword2{
                font-size:12px;
                margin:0px;}}}
    .eventtitle3{
        width:375px;
        margin:20px auto;
        font-size:50%;
    }
    .video{ 
        img{
        width: 250px;}
        .videovideo{
        display:none;}
    }    
        }
.device{
	width:375px;
	height:560px;
	margin:auto;
.divicetitle{
    margin: 0px 0px -8px 0px;
    height:auto;
    width:375px;
    img{
        width:375px;
    }
	}
.deviceword{
	padding:25px 0px;
	margin:auto;
	width: 375px;
	height: 20px;
font-size:15px;}}
.commu{
	margin:auto;
	width:375px;
	height:20px;
     li{
	margin: auto;
	width:75px;
	height: 40px;

    .commu1{
	margin:20px auto;
	width:40px;
	height:40px;
	border:none;
	background:none;
    .icon2{
        width:40px;
        margin:auto;
        img{
	    margin:0px;
	    width:40px;
	    height:40px;}}
    .iconword{
            display:none;}}}}
footer{
                width:375px;
                height:100px;
                background: url("footer.png") no-repeat fixed center bottom;
                background-size: 375px auto;
                margin:auto;
            
            img{
            display:none;}
            .footer-list{
                display:none;
            }
            .footer3{
                width:375px;
                height:100px;
                margin:auto;
                margin:100px auto 2px auto;
             p{
                
                font-size: 10px;
            }}}}}
    

