@charset "UTF-8";
.newslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1380px;
  margin: auto;
}
.newslist .newslist2 {
  width: 600px;
  text-align: left;
  margin: 100px 10px 0px auto;
}
.newslist .newslist2 h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: cornflowerblue;
  border-bottom: 4px dotted cornflowerblue;
  margin: 50px auto;
}
.newslist .newslist1 {
  width: 600px;
  text-align: left;
  margin: 100px 10px 0px auto;
}
.newslist .newslist1 h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: cornflowerblue;
  border-bottom: 4px dotted cornflowerblue;
  margin: 20px auto;
}
.newslist .newslist1 h2 {
  width: auto;
  font-family: Noto Sans JP Light;
  font-size: 20px;
  color: #0093fc;
  margin: 20px 0px;
}
.newslist .newslist1 h3 {
  font-family: Noto Sans JP Light;
  color: #0093fc;
}
.newslist .newslist1 p {
  width: 600px;
  margin: auto;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
}
.newslist .newslist1 a {
  text-decoration: none;
  color: blue;
  font-family: "Noto Sans JP", sans-serif;
}
.newslist .newslist1 .payback img {
  width: 50px;
}
.newslist .newslist1 table {
  width: 600px;
  margin: 10px auto;
  border: 1px dotted #044b7c;
  border-collapse: collapse;
}
.newslist .newslist1 table th {
  background-color: #cdeaff;
  border: 2px dotted #044b7c;
}
.newslist .newslist1 table td {
  width: 300px;
  border: 2px dotted #044b7c;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.newslist .newslist1 table tr > :first-child {
  text-align: left;
  width: 450px;
  height: auto;
}
.newslist .newslist1 .access .map td {
  text-align: center;
  width: 200px;
}
.newslist .newslist1 .access .map img {
  width: 100px;
}
.newslist .newslist1 img {
  width: 600px;
  margin: auto;
}
.newslist .newslist1 tr p {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 0px 10px 10px 10px;
  border-bottom: 2px dotted gray;
  margin: 15px auto 0px auto;
}
.newslist .newslist1 .park tr > :first-child {
  text-align: left;
  width: 100px;
  height: auto;
}
.newslist .newslist1 ul {
  width: 600px;
  text-align: left;
  margin: auto;
}
.newslist .newslist1 ul li {
  width: 560px;
  list-style: disc;
}
.newslist .information {
  top: 10px;
  position: -webkit-sticky;
  position: sticky;
  margin: 130px auto 0px 10px;
  height: 500px;
  width: 200px;
  background: #044b7c;
}
.newslist .information .iconofinfo {
  color: black;
  width: 200px;
  height: 60px;
  background-color: white;
  text-align: left;
  font-size: 20px;
  font-family: 小塚ゴシック Pr6N;
}
.newslist .information .iconofinfo h3 {
  margin-top: -50px;
  margin-left: 65px;
}
.newslist .information .titleofinfo {
  text-align: left;
}
.newslist .information .titleofinfo h4 {
  margin-top: -50px;
  margin-left: 100px;
  color: white;
  font-size: 14px;
  font-family: 小塚ゴシック Pr6N;
}
.newslist .information .titleofinfo .icon img {
  border: auto;
  border-radius: 50px;
}

.picture {
  margin: auto;
  width: 1380px;
}

.commu {
  height: 60px;
  width: 1380px;
  margin: auto;
}
.commu li {
  float: left;
}
.commu li .commu1 {
  margin: 100px 10px;
  width: 300px;
  height: 60px;
  border: 2px solid #044b7c;
  background: white;
}
.commu li .commu1 .icon2 {
  margin-left: -150px;
}
.commu li .commu1 .icon2 img {
  margin: 5px;
  border-radius: 200px;
}
.commu li .commu1 .iconword {
  margin-top: -50px;
  font-size: 20px;
  margin-left: 100px;
}
/*# sourceMappingURL=newslist.css.map */